body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 0;
}

.contenedor{
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    box-shadow: 0 0 10px #0000001a;
    border-collapse: collapse;  
    width: 70%;
    height: 0%;
    padding: 15px;
    
}

.cont {
    background-color: #ffffff;
    vertical-align: top;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 0 0 10px #0000001a;
    border-collapse: collapse;
    width: 200px;   
    text-align: justify;
    
   
}

.cont1{
    background-color: #ffffff;
    vertical-align: top;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 0 0 10px #0000001a;
    border-collapse: collapse;
    width: 350px;  
    text-align: justify;
    
}
.cont2{
    background-color: #ffffff;
    vertical-align: top;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 0 0 10px #0000001a;
    border-collapse: collapse;
    width: 300px;  
    text-align: justify;
}


.info{
    margin-top: 70px;
    margin-left: 90px;
    text-align: justify;
    
}
h3 {
    font-size: 18px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.estu{
    border: 1px solid #c9c9c9;
    padding: 5px;
}

.curs{
    border: 1px solid #c9c9c9;
    padding: 5px;
}

.proy{
    border: 1px solid #c9c9c9;
    padding: 5px;
}

.exp{
    border: 1px solid #c9c9c9;
    padding: 5px;
}

.ski{
    border: 1px solid #c9c9c9;
    padding: 5px;
}
.contacto{
    border: 1px solid #c9c9c9;
    padding: 8px;
}
.boton{
    border-radius: 5px;
    background-color: #def1de;
    color: #000000;
    text-align: center;
    margin-left: 100px;
}
.datos{
    border-radius: 3px;
    background-color: #ebe3e3   ;
    
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 50%;
    color: white;
    width: 250px;
    height: 250px;
    margin: 30px  auto;
    margin-left: 90px;

}
