body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 0;
}

.contenedor{
    background-color: white;
    margin: 20px auto;
    box-shadow: 0 0 10px #0000001a;
    border-collapse: collapse;  
    
}

.cont {
    background-color: #ffffff;
    vertical-align: top;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 0 0 10px #0000001a;
    border-collapse: collapse;
    width: 300px;   
    text-align: justify;
}

.cont1{
    background-color: #ffffff;
    vertical-align: top;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 0 0 10px #0000001a;
    border-collapse: collapse;
    width: 300px;  
    height: 570px;
}
.cont2{
    background-color: #ffffff;
    vertical-align: top;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 0 0 10px #0000001a;
    border-collapse: collapse;
    width: 300px;  
    text-align: justify;
}

img{
    width: 150px; 
    height: 150px;
    background-color: #ccc; 
    border-radius: 50%;
}


h3 {
    font-size: 18px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 50%;
    color: white;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
